%h1 About
%p
%p.lead 
  Cyclone Transfers is a fictional money transfer service, part of an 
  =link_to 'OWASP', 'http://www.owasp.org'
  project called 
  =link_to 'Broken Web Applications (BWA),', 'https://www.owasp.org/index.php/OWASP_Broken_Web_Applications_Project'
  that consists of multiple common Ruby on Rails vulnerabilities. These vulnerabilities demonstrate common web security problems such as the mass assignment vulnerability, cross site scripting, sql injections, file upload weaknesses and session management issues.

%p.lead 
  For more information 
  =mail_to "fridaygoldsmith@gmail.com", "fridaygoldsmith@gmail.com" 
  or
  %a{href: "http://www.twitter.com/fridaygoldsmith"} @fridaygoldsmith
