
.hero-unit.masthead
  - if @user
    -if @admin == 'true'
      =image_tag "/heisenberg.jpg", :class=>"left", :size=> '200x260'
      %h1 Welcome Heisenberg.
      %p.lead A new way to transfer money to your friends!
      %h3 Welcome, Heisenberg!
      %a{:class => "btn btn-primary btn-large", :href => new_leader_path } Let's Cook!
    -else
      =image_tag "/logo.png", :class=> "left" , :size=>'200x260'
      %h1 Welcome to Cyclone!
      %p.lead A new way to transfer money to your friends!
      %h3 
      Hi, 
      ~@user.name
      %br
      %a{:class => "btn btn-primary btn-large", :href => transfers_path } Transfer Money Now!
  - if !@user
    =image_tag "/logo.png", :class=> "left" , :size=>'200x260'
    %h1 Welcome to Cyclone!
    %p.lead A new way to transfer money to your friends!
    %a{:class => "btn btn-primary btn-large", :href => signup_path } Sign Up!
.alert.alert-error
  %h1 CAUTION: This is an intentionally broken web application.  Please do NOT use any real information

.alert.alert-info
  %h1 Account:  You can sign up on your own, or use an existing one
  %h2 user: cycloneuser-3@cyclonetransfers.com
  %h2 password: password
