
.hero-unit.masthead
	%h1 Welcome to Cyclone.
	%p A new way to transfer money to your friends!
	%a{:class => "btn btn-primary btn-large", :href => signup_path } Signup for Cyclone!

.alert.alert-error
	%h1 CAUTION: This is an intentionally broken web application.  Please do NOT use any real information
