%table.table.table-hover
  %thead
    %tr
      %th Who gave me money
      %th Which account received it?
      %th How much?
      %th Status
  %tbody 
  - @transfers_to_me.each do |t|
    %tr
      %td= User.find(t.user_id).name
      %td= t.to
      %td= number_to_currency(t.amount)
      %td 
        %span.label.label-success Success

